---

name: Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 13 7 * * 6

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      -
        name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"
          bundler-cache: true
      -
        name: Ruby Linting
        run: bundle exec rubocop
      -
        name: shellcheck
        uses: azohra/shell-linter@6bbeaa868df09c34ddc008e6030cfe89c03394a1
        with:
          path: scripts/test-*
          severity: error
      -
        name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml


  vulnerabilities:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      -
        name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: initialize
        uses: github/codeql-action/init@v2
        with:
          languages: ruby
      -
        name: codeql analyze
        uses: github/codeql-action/analyze@v2
