---

name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ "3.0", "3.1", "3.2", "3.3" ]
    name: Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install and start toxiproxy
        run: ./bin/start-toxiproxy.sh
      - name: Run tests
        run: bundle exec rake test
